.main-contain {
  width: 88%;
  margin: 0 auto;
}
.ant-layout-has-sider {
  height: calc(100vh - 200px);
}
.left-slide {
  display: inline-flex;
}
.ant-layout-content {
  display: inline-flex;
  width: calc(100% - 200px);
}